<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NFT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>NFT Parts</h1>
        <div class="display-container">
            {% for type, items in images.items() %}
            <div class="image-types">
                <h2>{{ type }}</h2>
                <div class="img-list {{type}}">
                    {% for img in items %}
                    <img src="{{ url_for('static', filename=img) }}" alt="">
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
